@tailwind base;
@tailwind components;
@tailwind utilities;

/* grenze */
@import url("https://fonts.googleapis.com/css2?family=Grenze&display=swap");

/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --sectionHeight: calc(100vh - 3.5rem);
}
.BSbody {
  font-family: "Inter", sans-serif;
}
.BSlink {
  @apply cursor-pointer
 text-white
 hover:text-yellow-400
 transition-all;
}
/* ================================= home ================================= */
.home {
  min-height: var(--sectionHeight);
  background-image: url("/_images/projectsItems/landingPages/mhsBS/mesa_cinza.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homeTitle {
  @apply text-white 
  text-8xl
  tracking-wider 
  uppercase
  mt-5
  cursor-default;
  font-family: "Grenze", serif;
}

/* ================================= menu ================================= */
.BScardsContainer {
  display: flex;
  gap: 60px;
}
.menu {
  min-height: var(--sectionHeight);
  --img: url("/_images/projectsItems/landingPages/mhsBS/garcon_cinza.png?url");
  background-image: var(--img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menuCard {
  width: 380px;
  height: 350px;
  border: 3px solid #f2d330;
  background-color: #0008;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-transform: uppercase;
}

.BScardItems {
  width: 70%;

  color: #fff;
  font-size: 24px;
}
.BSitem {
  height: 45px;
  width: 100%;
}
.itemDiv {
  width: 30px;
}

/* ================================= hours ================================= */

/* ================================= address ================================= */

.address {
  min-height: var(--sectionHeight);

  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 35px auto auto;
  grid-template-areas:
    "title title"
    "address map"
    "contact map";
  place-items: center;
}

.mapTitle {
  grid-area: title;
}

.addressCard {
  grid-area: address;
}

.BSmap {
  grid-area: map;
}

/* ================================= contact ================================= */

.contact {
  grid-area: contact;
}

.BScontactLink {
  display: grid;
  grid-template-columns: 60px 200px;
  place-items: center;

  font-size: 22px;
  cursor: pointer;
}
.BScontactLink:hover,
.BScontactLink > a:hover {
  color: #6f088e;
}

.BSfooter {
  width: 100%;
  padding: 10px 0;

  background: #241810;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (width < 870px) {
  .BScardItems {
    width: 90%;
  }
  .BScardsContainer {
    width: 90%;
  }
}

@media (width < 860px) {
  .addressCard,
  .contact {
    margin: 0;
  }
  .homeTitle {
    margin: 0;
  }

  .address {
    place-content: center;
    align-content: start;
    justify-items: center;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: 35px 200px auto;
    grid-template-areas: "title title" "address contact" "map map";
  }
  .BSmap {
    width: 93%;
    height: 300px;
  }
  .addressCard {
    justify-self: end;
  }
  .contact {
    width: 300px;
    height: 170px;
    padding: 0;
    justify-content: center;

    place-self: center;
  }
}

@media (width < 740px) {
  .menu {
    justify-content: center;
    gap: 60px;
  }
  .menuTitle {
    margin: 0;
  }
  .menuCard {
    height: 300px;
  }
  .BScardItems {
    font-size: 20px;
  }
  .BSitem {
    height: 40px;
  }

  .hours {
    font-size: 25px;
    height: 200px;
  }

  .address {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .BSmap {
    width: 90%;
    min-height: 300px;
  }
  .addressCard {
    width: 310px;
    justify-self: center;
  }
  .contact {
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .BScontactLinkContainer {
    width: auto;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
  }
  .BScontactLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
}

@media (width < 640px) {
  .homeTitle {
    font-size: 80px;
  }
  .hours {
    font-size: 20px;
    height: 180px;
  }
}

@media (width < 630px) {
  .BScardsContainer {
    gap: 20px;
  }
}
@media (width < 600px) {
  .BSline {
    width: 100%;
    height: 5px;

    background-color: #fff;
    border-radius: 20px;
    transition: 200ms;
  }
  .BScardItems {
    font-size: 18px;
  }
}

@media (width < 550px) {
  .homeTitle {
    font-size: 60px;
  }
  .CTA {
    scale: 0.9;
  }

  .menu {
    position: relative;
  }
  .menuTitle {
    margin-top: -40px;
    font-size: 45px;
  }
  .BScardsContainer {
    width: 306px;
    overflow: hidden;
    gap: 10px;
    /* scroll-behavior: smooth; */
  }
  .menuCard {
    min-width: 300px;
  }
  .BSbtnArrowLeft {
    width: 20px;
    height: 20px;
    border: #f2d330 solid;
    border-width: 5px 5px 0 0;

    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, 50%) rotate(225deg);
  }
  .BSbtnArrowRigth {
    width: 20px;
    height: 20px;
    border: #f2d330 solid;
    border-width: 5px 5px 0 0;

    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0, 50%) rotate(45deg);
  }

  .address {
    row-gap: 20px;
    height: fit-content;
    padding-bottom: 40px;
  }
  .BSmap {
    height: 80vw;
  }

  .hours {
    height: 150px;
  }
  .hoursLine {
    margin: 10px 0;
  }
}

@media (width < 460px) {
  .BSbtnArrowRigth {
    right: 30px;
  }
  .BSbtnArrowLeft {
    left: 30px;
  }
}

@media (width < 430px) {
  .homeTitle {
    font-size: 50px;
  }
  .BScardsContainer {
    width: 246px;
  }
  .menuCard {
    min-width: 240px;
  }

  .hours {
    font-size: 17px;
  }
}

@media (width < 350px) {
  .homeTitle {
    font-size: 45px;
  }
  .menu {
    gap: 40px;
  }
  .BScardsContainer {
    width: 226px;
  }
  .menuCard {
    min-width: 220px;
  }
  .itemDiv {
    width: 18px;
  }
  .BSbtnArrowRigth {
    right: 20px;
  }
  .BSbtnArrowLeft {
    left: 20px;
  }
  .addressCard {
    font-size: 18px;
    width: 280px;
  }
}
