@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
.App {
  @apply w-full
  h-full;
}
.App {
  @apply bg-yellow-100;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #3335;
}

*::-webkit-scrollbar:hover {
  width: 13px;
  height: 13px;
  background-color: #3335;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 50px;
}
