@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html,
.App {
  @apply w-full
  h-full
  bg-neutral-100
  ;
}
.App {
  @apply bg-yellow-100;

}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #3335;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 50px;
}

.template {
  display: grid;
  grid-template-areas: "header header" "sideBar dashboard";
  grid-template-rows: 60px auto;
  grid-template-columns: 200px auto;
  @apply w-screen h-screen;
}
.template_header {
  grid-area: header;
  @apply w-full h-full;
}
.template_dashboard {
  grid-area: dashboard;
  @apply w-full h-full;
}

@media (width <= 950px) {
  .template {
    grid-template-areas: "header" "dashboard";
    grid-template-columns: 100%;
  }
}

.template_side_bar {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 95%;

  @apply moblet:w-[60%]
  w-full
  h-full;
}

.side_bar_wrapper {
  grid-area: sideBar;
  @apply moblet:fixed 
    moblet:top-0
    moblet:left-0

    h-full
    w-full

    moblet:bg-black
    moblet:bg-opacity-60

    flex
    justify-center

    moblet:justify-start

    moblet:transition-all;
}

/* ================== BUTOES ================== */
.btn_hover_full {
  @apply hover:bg-black dark:hover:bg-white hover:bg-opacity-20 rounded-full cursor-pointer transition relative;
}
.btn_hover_md {
  @apply hover:bg-black dark:hover:bg-white hover:bg-opacity-20 rounded-md cursor-pointer transition relative;
}
.kase {
  @apply absolute top-0 left-0 h-full w-full cursor-pointer;
}
.bg_hover {
  @apply hover:bg-neutral-300 hover:bg-opacity-80 dark:border-neutral-600 dark:hover:bg-neutral-600 dark:hover:bg-opacity-50 border-slate-300 transition-all;
}
/* ================== INPUTS ================== */

.containedInp {
  @apply  
    pl-2
    outline-none
    
    h-full
    text-ellipsis 

    bg-neutral-200
}
.arrow {
  @apply after:w-2
    after:h-2 
    after:absolute
    after:bottom-[41%]
    after:right-2
    
    after:rotate-[135deg]
    
    after:border-solid
    after:border-r-[2px]
    after:border-t-[2px]
  after:border-black
   
    after:content-[""]
  
    w-full
    h-full
   
    absolute
    top-0
    right-0
    z-[2];
}

/* tabs */
.tab,
table {
  max-height: 75vh;
  overflow-y: auto;
}

/* ================== DIVS ================== */
.common_wrapper {
  @apply fixed
  top-0
  left-0

  h-screen
  w-screen
  
  bg-black
  bg-opacity-70

  flex
  items-center
  justify-center;
}

.skeletonShape {
  @apply bg-zinc-200
  border-zinc-600
  
  rounded-md
  border
  shadow-md;
}
