@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html,
.App {
  @apply w-full
  h-full;
}
.App {
  @apply bg-yellow-100;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #3335;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 50px;
}

.template {
  display: grid;
  grid-template-areas: "header header" "sideBar dashboard";
  grid-template-rows: 60px auto;
  grid-template-columns: 200px auto;
  @apply w-screen h-screen;
}

.template_header {
  grid-area: header;
  @apply w-full h-full;
}
.template_dashboard {
  grid-area: dashboard;
  @apply w-full h-full;
}

.template_side_bar {
  grid-area: sideBar;
  @apply w-full h-full;
}
