@tailwind base;
@tailwind components;
@tailwind utilities;

.cardsContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: fit-content;
}
.card {
  @apply 
  w-40
  mobile-sm:w-10/12
  h-24
  rounded
  border-neutral-400
  border
  flex
  flex-col
  items-center
  shadow-md;
}
.cardTitle {
  @apply w-full
  text-xl
  uppercase
  text-center
  rounded-t

  bg-slate-200
  dark:bg-neutral-500
  dark:text-white
  dark:text-opacity-70;
}

.cardContent {
  @apply h-full
  w-full
  flex
  items-center
  justify-center
  text-xl;
}

.graphContainer {
  @apply h-28
  w-40
  mobile-sm:w-[70vw]
  rounded
  shadow-lg
  bg-white
  transition
  border
  border-neutral-400
  ;
}
.FSbtn {
  width: 22px;
  height: 22px;
  position: relative;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  border: solid 3px;
  @apply border-black dark:border-white;
}

.FScross::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translate(0, -50%);
  width: calc(100% + 7px);
  height: 7px;
  @apply bg-white dark:bg-neutral-700;
}
.FScross::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 50%;
  transform: translate(50%);
  height: calc(100% + 7px);
  width: 7px;
  @apply bg-white dark:bg-neutral-700;
}

.FSgraph {
  @apply h-[80vh]
  w-[70vw]
  mobile:w-[90vw]
  mobile:h-[100vw]
  rounded-xl
  bg-slate-100
  dark:text-white
  dark:text-opacity-80
  dark:bg-zinc-800;
  
}

.FSclose {
  width: 30px;
  height: 30px;

  position: relative;
  position: absolute;

  top: 8px;
  right: 0px;
  cursor: pointer;
}

.FSx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  rotate: 45deg;
  border-radius: 20px;
  height: 100%;
  width: 4px;

  @apply dark:bg-white bg-black;
}
.FSx::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 20px;
  rotate: -45deg;

  height: 100%;
  width: 4px;
  @apply dark:bg-white bg-black;
}

@media (width < 1240px) {
  .cardsContainer {
    width: fit-content;
  }
}
