@tailwind base;
@tailwind components;
@tailwind utilities;

.aside {
  @apply h-full
    w-full
    bg-white
    dark:bg-neutral-800
    dark:border-neutral-600
    border-neutral-300
    dark:text-white
    dark:text-opacity-80
    border-r-2
    relative
    flex
    flex-col
    items-center
    mobile:w-[50%]
    mobile:min-w-[320px]
    mobile:absolute;
  grid-area: aside;
}

.asideWrapper {
  @apply h-full
     w-full 
     mobile:fixed 
     mobile:top-0 
     mobile:left-0 
    bg-black 
     bg-opacity-60
    
     transition;
}